@charset "utf-8";
/* CSS Document */

html,body{
height:100%;
width:100%;
margin: 0px;
padding: 0px;
}
/* body */
body{
background: url(../img/common/bkg-innerpage-top.png) top center repeat-x;
background-color:#e7f0f5;
font: 12px Verdana, Arial, Helvetica, sans-serif;
color:#838383;
}
.wrapper{
width:1041px;
/*margin: 0px auto; */
margin: auto;
padding: 0px;
/*margin-left: 200px; */
}
.containertop{
width:1023px !important;
background: url(../img/common/top-nav-bkg.png) top center repeat-x;
margin-left: 9px;
height: 192px;
}
#container, #footer {
background-position: top center;
background-repeat: repeat-y;
}
.wrapper #header_top_section {
/*float:left;
width: 1093px;*/
}
#header_top_section .logo {
float: left;
height:64px;
}
.logo a{
height:64px;
}
.mainheader_image{
margin: 0px auto;
padding: 0px;
}
img {
border: 0px;
}
.subnav_bar{
float:left;
}
.subnav_bkg{
background: url(../img/common/buy-nav-mid.png) repeat-x;
margin: 0px auto;
padding: 0px;
height:52px;
width:1023px;
}
.subnav_bkg .sf-menu {
padding-top:5px;
margin-left: 20px;
}
.buynav-text{
font:24px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:400;
color: #ffffff;
padding: 4px 18px; /*2px 8px; */
text-align: left;
}
.buynav-text-right{
font:24px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:400;
color: #ffffff;
padding: 2px 35px; /*2px 8px; */
text-align: left;
}


/********************************* content starts here **********************************/
.bodycontent{
margin-top: 52px;
}
.bodycontent .contentbox{
background: url(../img/common/body-bkg.png) top center repeat;
padding: 1px;
}
.contentbox .leftbody{
margin: 11px 0 0 37px;
/*margin-right: 6px;*/
width: 678px;
min-height:550px;

}

.contentbox .rightbody{
float: right;
width: 285px;
margin-right: 24px;
}
h2{
font:26px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:700;
line-height:0px;
}
.title{
color: #001A33;
float: left;
width: 264px;
}
.title2{
font:26px/43px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:700;
color: #ca171e;
float:right;
padding-right: 4px;
width:378px;
}

.title2 a{
font:26px/43px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:700;
color: #ca171e;
text-decoration: underline;
}

.title2 span{
font:26px/43px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:700;
color: #ca171e;
}

.headingline{
background: url("../img/common/header-line-bkg.png") repeat-x scroll 0 0 transparent;
float: left;
width: 635px;
margin-right: 39px;
}
.btn{
display: inline-block;
width: 26px;
height: 29px;
vertical-align: middle;
cursor: pointer;
background-image: url("../img/common/facebook-big.png");
background-repeat: no-repeat;
}
.btn2{
display: inline-block;
width: 26px;
height: 22px;
vertical-align: middle;
cursor: pointer;
background-image: url("../img/common/facebook-small.png");
background-repeat: no-repeat;
}
.bottomimg{
background:url(../img/common/bottom-shadow2.png) repeat-x;
width: 1041px;
height: 4px;
}
.signin{
font:20px Arial, Verdana, Helvetica, sans-serif;
font-weight:bold;
color: #001a33;
}
.signin .subtitle span{
color: #001a33;
}

p{
padding-bottom: 8px;
}
.bluecolor{
font:20px Arial, Verdana, Helvetica, sans-serif;
color:#3399db;
font-weight:normal;
text-decoration:underline;
padding-left: 7px;
}
.bluecolor a{
color:#3399db;
text-decoration:underline;
}
.bluecolorsmall{
font:12px Arial, Verdana, Helvetica, sans-serif;
color:#3399db;
font-weight:normal;

}
.bluecolorsmall a{
color:#3399db;
text-decoration:underline;
}
.useaccount{
font:20px Arial, Verdana, Helvetica, sans-serif;
font-weight:bold;
color: #001a33;
}
span, p {
font-weight:normal;
/*text-decoration:none;*/
}
/*span a, p a {
font: Arial, Verdana, Helvetica, sans-serif;
font-weight:normal;
text-decoration:none;
color:#3399db;
}*/

.bodylinks {
font: Arial, Verdana, Helvetica, sans-serif;
font-weight:normal;
text-decoration:none;
color:#3399db;
}

.bodylinks a{
font: Arial, Verdana, Helvetica, sans-serif;
font-weight:normal;
text-decoration:underline;
color:#3399db;
}
.greycolorlinks{
font: Arial, Verdana, Helvetica, sans-serif;
font-weight:normal;
color:#838383;
}
.greycolorlinks p{
font: Arial, Verdana, Helvetica, sans-serif;
font-weight:normal;
color:#838383;
}
.greycolorlinks a{
font: Arial, Verdana, Helvetica, sans-serif;
font-weight:normal;
text-decoration:underline;
color:#838383;
}
.greycolor{
font:14px Arial, Verdana, Helvetica, sans-serif;
color:#838383;
font-weight:normal;
text-decoration:none;
}
.facebook-big{
padding: 10px 20px 10px 0px;
}
.facebook-small{
padding: 10px 10px 10px 0px;
}
.facebook-small-img{
padding: 0px 10px 10px 0px;
}
.horz-separator{
background:url(../img/common/horizontal-dotted-line.png) repeat-x;
float: left;
width: 635px;
min-height:1px;
}

.icon-rt{
padding: 10px 20px 0px 0px;
}
.icon{
display: inline-block;
width: 41px;
height: 41px;
vertical-align: middle;
cursor: pointer;
background-image: url("../img/common/icon-new-to-hutmut.png");
background-repeat: no-repeat;
}
.heading{
font:34px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:400;
color: #052144;
vertical-align: middle;
padding-left: 5px;
}
.rightbody ul{
padding-left: 16px;
}

.rightbody p, .rightbody li{
color: #565656;
font-size: 14px;
}
.rightbody li{
line-height:16px;
padding-bottom: 7px;
list-style:square;
}
.signin-btn{
background:url(../img/common/signin-btn.png) no-repeat;
width:102px;
height:35px;
}
.learnmoretext{
font:18px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:700;
float:right;
color:#ca171e;
padding: 6px 6px;
text-decoration:underline;
}
.learnmoretext a{
font:18px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:700;
float:right;
color:#ca171e;
padding: 6px 6px;
text-decoration:underline;
}

/********************************* content ends here **********************************/

/********************************* top menu starts here **********************************/
.wrapper #links {
float: right;
margin: 0px;
padding: 22px 6px 0px 0px;
}

ul {
list-style: none;
}
.sf-menu {
font-size: 0;
line-height: 0;
padding: 0;
z-index: 99;
position: relative;
}
.sf-menu > li {
font: 27px 'Yanone Kaffeesatz',Verdana,Arial,sans-serif;
font-weight:400;
color: #052144;
position: relative;
float: left;
margin-left: 40px;
padding: 0px;
}
.sf-menu li a {
font: 27px 'Yanone Kaffeesatz',Verdana,Arial,sans-serif;
font-weight:400;
color: #052144;
position: relative;
text-decoration: none;
padding: 0px;
}
.sf-menu li a.active {	
color: #c20b0b !important;
text-align: center;
}
.sf-menu li a:hover {	
color: #c20b0b;
}
/********************************* top menu ends here **********************************/

.style1 {
	color:#FFFFFF;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}
.formtextheading {
color: #001a33;
font-weight: bold;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
}
.searchformtextheading {
color: #001a33;
font-weight: bold;
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
}
.group-head{
text-align:left !important;
font:14px Arial, Helvetica, sans-serif;
font-weight:bold;
text-transform:uppercase;
padding:5px;
background:#F2F2F2;
border: 1PX SOLID #F2F2F2;
color:#333;
}
table{
border-collapse:collapse;
border-spacing:0;
}
tr{
/*background-color: #F0F0F0;
border: 1px solid #F2F2F2;*/
}

textarea{
font:Arial, Helvetica, sans-serif;
font-size:13px;
font-style:italic;
color:#999999;
}
input {
width:213px;
font:Arial, Helvetica, sans-serif;
font-size:13px;
font-style:italic;
color:#999999;

-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 0 0 0 #000,inset 0px 2px 2px #eee;
-webkit-box-shadow: 0 0 0 black,inset 0px 2px 2px #EEE;
box-shadow: 0 0 0 black,inset 0px 2px 2px #EEE;
border: 1px solid #BFBFBF;
padding: 3px;
}

.s{
background: white !important;
padding: 6px 9px !important;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 0 !important;
-moz-box-shadow:    inset 0 0 6px #7c7c7c;
-webkit-box-shadow: inset 0 0 6px #7c7c7c;
box-shadow:         inset 0 0 6px #7c7c7c;
outline: 0;
width: 55%;
margin: 0 1% 5px 0;
}
/*.s{
background: white !important;
padding: 6px 13px !important;
-moz-border-radius: 15px;
-webkit-border-radius: 15px;
border-radius: 15px;
border: 0 !important;
-webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5);
-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,0.5);
box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.5);
outline: 0;
width: 55%;
margin: 0 1% 5px 0;
}*/

.input1 {
width:120px;
font:Arial, Helvetica, sans-serif;
font-size:13px;
font-style:italic;
color:#999999;
padding-left:3px;
}
.inputbig {
width:300px;
font:Arial, Helvetica, sans-serif;
font-size:13px;
font-style:italic;
color:#999999;
padding-left:3px;
}
.input2 {
width:70px;
font:Arial, Helvetica, sans-serif;
font-size:13px;
font-style:italic;
color:#999999;
padding-left:3px;
}
.input3 {
width:40px;
font:Arial, Helvetica, sans-serif;
font-size:13px;
font-style:italic;
color:#999999;
padding-left:3px;
}
.input-cbox {
color:#999999;
width:15px;
}
select{
font:Arial, Helvetica, sans-serif;
font-size:13px;
font-style:italic;
color:#999999;
height:24px;
margin-top: 2px;
}
.style2 {
color: #001a33;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
}
.style3 {color: #FF0000}
.style4 {
color: #999999;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
}
.style5 {color: #001a33; font-family: Arial, Helvetica, sans-serif; font-size: 13px; }
.style6 {color: #838383}
.style8 {
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
color: #838383;
}
.style9 {
color: #999999;
font-size: 9px;
font-family: Arial, Helvetica, sans-serif;
}
.style10 {
color: #999999;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
}
h3 {
font:26px 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-weight:700;
color: #001a33;
}
/********************************* footer header Starts here **********************************/
.footer{
/*background:url(../images/footer-bkg.png) repeat-x;*/
background:#001a33;
min-height:153px;
width:100%;
float:left;
position:relative;
margin-top:15px;
}
.wrapperbottom {
width: 1023px;
margin: 0px auto;
padding: 0px;
overflow: hidden;
clear: both;
}
.wrapperbottom .header_top_sectionbottom {
float:left;
width:1023px;
}
.header_top_sectionbottom .logobottom{
float: left;
margin-top: 15px;
margin-left:6px;
padding-right: 25px;
}
.header_top_sectionbottom .followusbottom{
float: right;
padding-left: 10px;
padding-top: 23px;
}
.footer-col{
float: right;
width:135px;
height: 26px;
padding-top: 13px;
}
.footer-row, .footer-row a{
line-height: 26px;
height:26px;
width:26px;
display: inline-block;
}
.footer-row, .footer-row li{
list-style:none;
}
footer-icon-block, .footer-icon-social{
vertical-align:middle;
margin-right:10px;
width: 20px;
}
.footer-icon{
background:url(../img/common/footer-social-icons.png) no-repeat;
display:inline-block;
position:relative;
}
.footer-icon-facebook{
background-position: 0px 0;
height: 28px;
width: 26px;
}

.footer-icon-twitter{
background-position: -61px 0;
height: 56px;
width: 26px;
}
.footer-icon-linkedin{
background-position: -30px 0;
height: 84px;
width: 26px;
}
.linksbottom{
width:640px;
float:left;
margin-top: 30px;
padding-left:30px;
}
.linksbottom ul{
padding: 0px;
margin: 0 auto;
}
.linksbottom ul li{
font-family: 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-size:18px;
font-weight:400;
color: #858585;
float: left;
padding-right: 10px;
}
.linksbottom ul li a{
font-family: 'Open Sans Condensed', Verdana, Arial, sans-serif;
font-size:18px;
font-weight:400;
color: #858585;
text-decoration:none;
}
.header_top_sectionbottom .place{
text-align: center;
width: 900px;
font: 11px Arial, Helvetica, sans-serif;
margin-top: 90px;
color: #E2E2E2;
padding-left: 66px;
padding-bottom: 8px;
line-height: 18px;
}
.place a{
color: #E2E2E2;
text-decoration:none;
}
.dre{
font: 11px Calbri, Arial, Helvetica, sans-serif;
text-align:center;
padding-top: 16px;
padding-bottom: 4px;
}
.copyright{
font: 11px Calbri, Arial, Helvetica, sans-serif;
text-align:center;
padding-bottom: 12px;
}
/********************************* footer header ends here **********************************/